.App {
  text-align: center;
  
}

body {
  background-color: #121212;
  color: white;
}

.contentCards {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.contentCards img {
  height: auto;
  width: 65%;
  max-width: 350px;
}
